<!DOCTYPE HTML>
<html>
	<head>
		<title>CTSM - Error</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="../static/assets/css/main.css" />
		<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
	</head>
	<body>

		<!-- Banner -->
		<div class="background">
			<section id="banner">
				<h2><strong>Error</strong> 404</h2>
				<p>oops, something went wrong!</p>
				
				<ul class="actions">
					<li><a href="{{ url_for('index') }}" class="button special" style="background-color:#3498db">Return</a></li>
				</ul>
			</section>
			
						<!-- Footer -->
			<footer id="footer">
				<div class="copyright">
					<a href="http://www.github.com/semaaJ"><i class="fa fa-github-square fa-4x" aria-hidden="true"></i></a>
					<a href="http://www.github.com/semaaJ"><i class="fa fa-linkedin-square fa-4x" aria-hidden="true"></i></a>
				</div>
			</footer>
		
		</div>
			

			
			
	</body>
</html>