<!DOCTYPE HTML>
<html>
	<head>
		<title>CTSM - {{ title }}</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href= "{{ url_for('static', filename='assets/css/main.css') }}">
		<link rel="stylesheet" href="https://unpkg.com/tachyons@4.8.0/css/tachyons.min.css"/>
		<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
	</head>

	<body>

		<!-- Banner -->
		<div class="background">
			<section id="banner">
				<h2>{{ title }}</h2>

				<div class="info">
					<p> {{ info }} </p>
				</div>

				<div class="sep"><hr></div>
				<h1>Current Companies </br> Being Monitored</h1>
				<div class="sep"><hr></div>

				{% if data %}
					<div id="root" class="cf w-100">
						<div class="sep"><hr></div>
					</div>
				{% else %}
					<div class="sorry"><p>We are not monitoring any companies at the moment!</p></div>
				{% endif %}

				<div class="sep"><hr></div>
				<h1>Past Companies </br> Monitored</h1>
				<div class="sep"><hr></div>

				{% if pastdata %}
					<div id="root" class="cf w-100">
						<div class="sep"><hr></div>
					</div>
				{% else %}
					<div class="sorry"><p>Sorry, nothing to show here!</p></div>
				{% endif %}

			</section>

			<!-- Footer -->
			<footer id="footer">
				<div class="copyright">
					<a href="http://www.github.com/semaaJ"><i class="fa fa-github-square fa-4x" aria-hidden="true"></i></a>
					<a href="http://www.github.com/semaaJ"><i class="fa fa-linkedin-square fa-4x" aria-hidden="true"></i></a>
				</div>
			</footer>
		
		</div>

		<!-- Scripts -->
		<script src="../static/assets/js/jquery.min.js"></script>
		<script src="../static/assets/js/skel.min.js"></script>
		<script src="../static/assets/js/util.js"></script>
		<script src="https://use.fontawesome.com/48a1424f17.js"></script>
		<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
		<script src="../static/assets/js/main.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.bundle.min.js"> </script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.4/lodash.min.js"> </script>


		<script>
			const json = `{{ data|safe }}`;
			var jsondata = JSON.parse(json);

			const data = Object.entries(jsondata).map(([name, set]) =>
				Object.values(set.sharePriceList)
					.filter(d => d.length > 0)
					.map(data => ({
						name: name,
						set: data.reduce(
							(prev, cur) => {
								const [date, value] = cur;
								return {
									labels: [...prev.labels, date],
									data: [...prev.data, value],
								};
							},
							{ labels: [], data: [] },
						),
					})),
			);

			const stats = data.map(arr => arr[0]);

			const root = document.getElementById('root');

			for (const stat of stats) {
				const container = document.createElement('div');
				container.className = 'fl w-100 chart';

				const tweet = document.createElement('div');
    			tweet.className = 'tweet';
   				tweet.innerHTML = "\"" + jsondata[stat.name]["tweet"] + "\"";
    			container.appendChild(tweet);

				const canvas = document.createElement('canvas');
				container.appendChild(canvas);
				const init = root.appendChild(container);
				const ctx = canvas.getContext('2d');

				const gradient = ctx.createLinearGradient(0, 0, 0, container.clientHeight * 5);
				gradient.addColorStop(0, "rgba(18,224,148,1)");
				gradient.addColorStop(0.5, "rgba(2,133,163,1) ");
				gradient.addColorStop(1, "rgba(2,133,163,1)");

				var name = jsondata[stat.name]["companyName"];
				name = name.charAt(0).toUpperCase() + name.slice(1);

				var date = jsondata[stat.name]["dateMentioned"].split(" ")[0].split("-");

				for(var i = 0; i < date.length; i++){
				  date[i] = date[i].replace(/^0+/, '');
				}

				var label = name + " - Mentioned on: " + date[0] + "/" + date[1] + "/" + date[2];

				const chart = new Chart(ctx, {
					responsive: false,
					maintainAspectRatio: false,
					data: {
						labels: stat.set.labels,
						datasets: [
							{
								backgroundColor: gradient,
								label: label,
								data: stat.set.data,
							},
						],
					},
					type: 'line',
				});
			}

		</script>

	</body>
</html>