<!DOCTYPE HTML>
<html>
	<head>
		<title>CTSM - {{ title }}</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="../static/assets/css/main.css" />
		<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
	</head>
	<body>

		<!-- Banner -->
		<div class="background">
			<section id="banner">
				<h2><strong>{{ title }}</strong></h2>
				<p><i>Donald John Trump (born June 14, 1946) is the 45th </br> 
					  and current President of the United States, </br>
					  in office since January 20, 2017. Before entering politics, </br>
					  he was a businessman and television personality.</i></p>
				
				<hr>
				
				<h1>Latest Tweet</h1>
				
				
				<hr>
				
				<h1>Current Companies Mentioned</h1>
					{% if currentCompanies %}
						{% for company in currentCompanies %}
							<h4> {{ company }} </h4>
						{% endfor %}
					{% else %}
						<p>Nothing to show! :)</p>
					{% endif %}
	
				<hr>
				
				<h1>Past Companies Mentioned</h1>
					{% if pastCompanies %}
						{% for company in pastCompanies %}
							<h4> {{ company }} </h4>
						{% endfor %}
					{% else %}
						<p>Nothing to show! :)</p>
					{% endif %}
				
			</section>
			
			<div class="generic">
					
			</div>
			
				<!-- Footer -->
			<footer id="footer">
				<div class="copyright">
					<a href="http://www.github.com/semaaJ"><i class="fa fa-github-square fa-4x" aria-hidden="true"></i></a>
					<a href="http://www.github.com/semaaJ"><i class="fa fa-linkedin-square fa-4x" aria-hidden="true"></i></a>
				</div>
			</footer>
		
		</div>
			
			



		<!-- Scripts -->
			<script src="../static/assets/js/jquery.min.js"></script>
			<script src="../static/assets/js/skel.min.js"></script>
			<script src="../static/assets/js/util.js"></script>
			<script src="https://use.fontawesome.com/48a1424f17.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="../static/assets/js/main.js"></script>
			
			<script>window.twttr = (function(d, s, id) {
					var js, fjs = d.getElementsByTagName(s)[0],
					t = window.twttr || {};
					if (d.getElementById(id)) return t;
						js = d.createElement(s);
						js.id = id;
						js.src = "https://platform.twitter.com/widgets.js";
						fjs.parentNode.insertBefore(js, fjs);

						t._e = [];
						t.ready = function(f) {
							t._e.push(f);
						};

					return t;
				}(document, "script", "twitter-wjs"));</script>
	</body>
</html>